<br><br>
<div class="container" style="height: 150px; border: .5px solid #c3c3c3 ">
     <div class="container" style="height: 100px; ">
          <h1 style="padding:10px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta debitis ut molestiae illo molestias nam ipsum ullam aperiam minima! Voluptas consequuntur suscipit repudiandae ratione ipsam delectus harum voluptatum impedit ullam!</h1>
     </div>
     <div class="container" style="height: 50px; border:.5px solid #c3c3c3">
          <div class="columns has-text-centered" style="padding-top:10px;">
            <div class="column is-8 has-text-left" style="margin-left:15px">
              First column
            </div>
            <div class="column">
              comment
            </div>
            <div class="column">
              date
            </div>
            <div class="column">
              user
            </div>
          </div>
     </div>
</div>
<br><br>
<div class="container" style="height: 150px; border: .5px solid #c3c3c3 ">
     <div class="container" style="height: 100px; ">
          <h1 style="padding:10px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta debitis ut molestiae illo molestias nam ipsum ullam aperiam minima! Voluptas consequuntur suscipit repudiandae ratione ipsam delectus harum voluptatum impedit ullam!</h1>
     </div>
     <div class="container" style="height: 50px; border:.5px solid #c3c3c3">
          <div class="columns has-text-centered" style="padding-top:10px;">
            <div class="column is-8 has-text-left" style="margin-left:15px">
              First column
            </div>
            <div class="column">
              comment
            </div>
            <div class="column">
              date
            </div>
            <div class="column">
              user
            </div>
          </div>
     </div>
</div>
<br><br>
<div class="container" style="height: 150px; border: .5px solid #c3c3c3 ">
     <div class="container" style="height: 100px; ">
          <h1 style="padding:10px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta debitis ut molestiae illo molestias nam ipsum ullam aperiam minima! Voluptas consequuntur suscipit repudiandae ratione ipsam delectus harum voluptatum impedit ullam!</h1>
     </div>
     <div class="container" style="height: 50px; border:.5px solid #c3c3c3">
          <div class="columns has-text-centered" style="padding-top:10px;">
            <div class="column is-8 has-text-left" style="margin-left:15px">
              First column
            </div>
            <div class="column">
              comment
            </div>
            <div class="column">
              date
            </div>
            <div class="column">
              user
            </div>
          </div>
     </div>
</div>
<br><br>
<div class="container" style="height: 150px; border: .5px solid #c3c3c3 ">
     <div class="container" style="height: 100px; ">
          <h1 style="padding:10px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta debitis ut molestiae illo molestias nam ipsum ullam aperiam minima! Voluptas consequuntur suscipit repudiandae ratione ipsam delectus harum voluptatum impedit ullam!</h1>
     </div>
     <div class="container" style="height: 50px; border:.5px solid #c3c3c3">
          <div class="columns has-text-centered" style="padding-top:10px;">
            <div class="column is-8 has-text-left" style="margin-left:15px">
              First column
            </div>
            <div class="column">
              comment
            </div>
            <div class="column">
              date
            </div>
            <div class="column">
              user
            </div>
          </div>
     </div>
</div>