<br>
<!-- <div class="blk">
<div class="blk1"> -->
  <br><br>
  <div class="columns">
    <div class="column is-2">
      <a routerLink = "/article" style="font-size: 1.5rem;"><i class="fa fa-arrow-circle-left"></i> back</a>
    </div>
    <div class="column has-text-centered">
      <h1 class="title has-text-weight-bold" style=" text-transform: capitalize; font-size:4.5em">{{ article.title }}</h1>
    </div>
    <div class="column has-text-centered is-2">
      <h1 style="text-transform: capitalize;" class="title is-4">{{ article.name }}</h1>
      <p class="subtitle is-5">{{ article.date }}</p>
    </div>
  </div>
<br>
<!-- </div>
<div class="blk2">
  <article class="media">
    <figure class="media-left">

    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="is-3">{{ article.name }}</strong>
          <br>
          {{ article.date }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>  
</div> -->


<div class="container" style ="max-width:800px">
     <img src="{{ article.img }}" style="margin-left:5%; width:90%">
     <br><br><br>
     <div class="subtitle" [innerHTML]="article.content" style="width: 90%; margin-top: 0px;"></div>
    <br>

     <!-- {{ article.date }} -->
<!-- 
     <article class="media" style="margin: auto; max-width: 90%;">
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a class="button is-info">Submit</a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <label class="checkbox">
                    <input type="checkbox"> Press enter to submit
                  </label>
                </div>
              </div>
            </nav>
          </div>
     </article>    
     <br><br>
     <button class="button is-fullwidth">click me</button>  -->
     <br><br>
</div>
