<br><br>
<div class="container" style="font-family: serif; max-width:800px">
     <h1 class="title has-text-centered has-text-weight-bold is-size-1">{{ article.title }}</h1>
     <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ author.img }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong class="is-3">{{ article.name }}</strong>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a>
              </div>
            </nav>
          </div>
        </article>
     <br><br>
     <img src="{{ article.img }}" style="margin-left:25%; width:400px;">
     <br><br>
     <div class="container" [innerHTML]="article.content"></div>
     <br><hr><br>
     <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ article.img }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
              </p>
            </div>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <a class="button is-info">Submit</a>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <label class="checkbox">
                    <input type="checkbox"> Press enter to submit
                  </label>
                </div>
              </div>
            </nav>
          </div>
     </article>    
     <br><br>
     <button class="button is-fullwidth">click me</button> 
     <br><br>
</div>
