<br><br>
<div class="box">
  <div class="card-body">
    <form #questionForm = "ngForm" (ngSubmit) = "onSubmit(questionForm)">
      <div class="field">
        <label for="title" class="label">Title</label>
        <input 
        type="text" 
        class="input"
        name="title"
        #questionTitle = "ngModel"
        [(ngModel)] = "question.title"
        >
      </div>
      <br>
      <label for="category" class="label">Category</label>
      <div class="select">
        <select 
        name="category" 
        id="category"
        #questionCategory = "ngModel"
        [(ngModel)] = "question.category"
        >
          <option value="placement">placement</option>
          <option value="exam">Exam</option>
          <option value="other">Other</option>
        </select>
      </div>
      <br>
      <br>
      <div class="field">
        <label for="detail" class="label">Description</label>
        <quill-editor
        name="content"
        #questionDesc = "ngModel"
        [(ngModel)] = "question.description"
        [modules]="editorOptions"
        [style] = "{minHeight: '250px'}"
        ></quill-editor>
      </div>
      <br>
      <input type="submit" value="Ask" class="button is-dark">
    </form>
  </div>
</div>
