<div class="columns is-multiline">
  <div class="column is-4" *ngFor="let article of articles">
    <br><br>
      <div class="card" style="margin:15px;">
      <a routerLink="/article/{{ article.id }}/">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{article.img}}" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ article.name }}</p>
              <!-- <p class="subtitle is-6">{{ article.uid }}</p> -->
              {{ article.date }}
            </div>
          </div>
      
          <div class="content">{{ article.title}}
            <br>
          </div>
        </div>
      </a>
      </div>
  </div>
  
</div>

