<br>
<div class="box is-paddingless">
  <br>  
  <div class="columns">
    <div class="column is-4">
      <br>
      <figure class="image" style="margin-left:16%">
        <img class="is-rounded" src="{{ pro.img }}" style="width: 210px; height: 210px;">
      </figure>
      <br>
      <div class="file" style="margin-left:24%">
        <label class="file-label">
          <input class="file-input" type="file" name="resume"
          (change) = "uploadFile($event)"
          >
            <span class="file-label has-text-info is-size-5">
              change the picture
            </span>
        </label>
      </div>
      <br>
      <aside class="menu">
        <br>
        <ul class="menu-list">
          <ol><a 
            class="is-size-5" 
            routerLink="/profile/personal"
            [ngClass] = "{'activeLink' : router.url == '/profile/personal'}"
          >Personal</a></ol>
          <ol><a 
            class="is-size-5" 
            routerLink="/profile/qna"
            [ngClass] = "{'activeLink' : router.url == '/profile/qna'}"
            >QnA</a></ol>
          <ol><a 
            class="is-size-5" 
            routerLink="/profile/articles"
            [ngClass] = "{'activeLink' : router.url == '/profile/articles'}"
            >Articles</a></ol>
        </ul>
      </aside>
    </div>
    <div class="column">
      <div class="container" style="padding-left: 100px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>